*.o
*_out
tagfs.c
query.c
tagdb_util.c
tagdb_fs.c
tests/test_*.c
tests/test_abstract_file
tests/test_attr
tests/test_file
tests/test_tag
tests/test_file_cabinet
tests/test_key
tests/test_log
tests/test_mmap
tests/test_output
tests/test_sqlite3
tests/test_stage
tests/test_tagdb
tests/test_trie
tests/test_sql
*.log
*.db
*.gcov
*.gcda
*.gcno
test-coverage
mount*
version.h
tagfs
.libs
*.la
