*.o
*_out
tagfs.c
query.c
tagdb_util.c
tagdb_fs.c
command_fs.c
tagfs_operations.c
src/tests/test_*.c
src/tests/test_abstract_file
src/tests/test_attr
src/tests/test_file
src/tests/test_tag
src/tests/test_file_cabinet
src/tests/test_key
src/tests/test_log
src/tests/test_mmap
src/tests/test_output
src/tests/test_sqlite3
src/tests/test_stage
src/tests/test_tagdb
src/tests/test_trie
src/tests/test_sql
src/tests/test_command
src/tests/acc-test-results
src/tests/unit-test-results
src/tests/BASE
src/tests/FILTERED
src/tests/OUT
src/tests/RESULT
src/plugins/*.h
include/tagfs.h
*.log
*.db
*.gcov
*.gcda
*.gcno
test-coverage
mount*
version.h
src/tagfs
src/fuzzer
.libs
*.la
*.lo
a.out
marco.log
build/
*.d
